.feedback {
  padding: 50px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feedback h6 {
  margin: 0;
}

.feedback ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.feedback div {
  display: flex;
  gap: 10px;
}